/* Контейнер всего слайдера */
.gallerys-slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Заголовок слайдера */
.gallerys-slider-heading {
  display: flex;

  width: 100%;
  font-size: 3.125vw;    /* ~60px при ширине экрана ~1920px */
  font-weight: 700;
  margin-bottom: 1.85vh; /* ~20px по вертикали */
}

/* Обёртка для слайдера */
.gallerys-slider-wrapper {
  display: flex;
  width: 100%;
}

/* Сам Swiper c "фиксированной" высотой */
.gallerys-slider {
  width: 98vw;
  height: 80vh;
}

/* Каждый слайд занимает всю высоту контейнера */
.gallery-slide {
  width: 49vw;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vh;
}

/* Карточка внутри слайда */
.gallery-card {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border-radius: 3vh;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;

  transition: box-shadow 0.3s ease;
}

/* Аналогично для gallery-img */
.gallery-img {
  width: 48vw;
  height: 78vh;
  object-fit: cover;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3vh;
}

/* Заголовок карточки (шапка) */
.gallery-card__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.56vh;        /* ~60px по вертикали */
  margin-bottom: 0.93vh; /* ~10px */
}

/* Заголовок */
.gallery-card__title {
  width: 100%;
  height: 20%;
  font-size: 0.94vw;     /* ~18px по ширине экрана */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  color:"rgb(18, 71, 115)"
}


/* Описание карточки */
.gallery-card__desc {
  font-size: 0.73vw;     /* ~14px */
  line-height: 1.4;
  height: 18.52vh;       /* ~200px */
  overflow: hidden;
}



.gallery-card:hover {
  box-shadow: 0 0 30px rgba(47, 162, 255, 0.767);
  transform: scale(1.02);

}
