.header {
    background-color: #004677;
    padding: 20px 0;
  }
  
  .header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header_full {
    display: flex;
    flex-direction: row; /* элементы располагаются горизонтально */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
  }
  
  .logo {
    display: flex;
    left: 0;
    width: 120px;
    height: 60px;
    align-items: center;
    text-decoration: none;
  }
  
  .header__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header__menu li {
    margin: 0 15px;
  }
  
  .menu-item {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .ChangeLanguage,
  .ContactUs {
    background: transparent; /* прозрачный фон */
    border: none;            /* без границ */
    color: #fff;             /* белый текст */
    padding: 0;              /* убираем внутренние отступы */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .ChangeLanguage:hover,
  .ContactUs:hover {
    color: #ccc;             /* изменяем цвет текста при наведении */
  }
  
  .ChangeLanguage:focus,
  .ContactUs:focus {
    outline: none;           /* убираем стандартное обведение при фокусе */
  }
  